footer {
    background: $primary;
    color: $solidWhite;
    padding: 75px;

    .footerFlexContainer {
        display: flex;
        justify-content: space-between;
        
    }

}

.footerLogo h4 {
    color: $solidWhite;
}

.footerNav {
    width: 50%;
    nav {
        display: flex;
        justify-content: space-between;

    }
}  //need to add typographic styles for footer contents

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
        i {
            margin: 0 10px;
        }
}