header {
    background-color: $tertiary;
}

header .wrapper {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.headerImgContainer {
    width: 48%; //could flex-basis be used as well? Flex-basis is equivilant to width when the flex-direction is row. So flex-basis will adjust the size of the content along the main axis (and %'s only work on height when the parent element has a "set" height on it
}

.textContainer {
    width: 48%;
}

//still requires some more styling to complete, may want to create container with header img and text container in it and add styling


//Contacts Page Header styles

.contactHeader {
    background-color: $quaternary;
    padding-top: 120px;
}

.contactHeader .wrapper {
    flex-direction: column;
    margin: 0 auto;
    padding: 50px;
}

.contactHeader::after {
    content:" ";
    width: 100%;
    height: 150px;
    background-image: url(../assets/wave.svg);
    background-color: $quaternary;
    background-size: 100% 100%;
    display: block;

}
