//skip link

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    background-color: $solidWhite;
    color: black;
    z-index: 10;
    &:focus {
        left: 0;
    }
}

//announcements 

.announcements {
    text-align: center;
    padding: 10px 0;
}

//Nav Bar

.navBar {
    position: sticky;
    top: 0;
    border-top: 1px solid rgba(8, 75, 109, 0.08);
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
    background-color: $solidWhite;
    z-index: 10; //to allow the navBar to stay on top of hovering images on gallery

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    input[type=checkbox]{
        opacity: 0;
        position: absolute;
        &:checked ~ .slideOutNav {
            //don't want to target the check box, by using ~ we can target a sibling element, in this case the slideOutNav
            left: 0;
        }
    }
}

//Search Cart

label {
    cursor: pointer; //will change the cursor to a finger pointer when hovering over this icon
}

.searchCart {
    display: flex;
    .menuIcon, .bag {
        margin-right: 15px;
    }

    .bag{
        display: flex;
    }
    .counter {
        display: flex;
        align-items: center;
    }
        p {
            width: 24px;
            height: 24px;
            background-color: $primary;
            border-radius: 50%;
            color: $solidWhite;
            text-align: center;
            
        }
}

//Slide out Nav

.slideOutNav {
    background-color: $primary;
    position: fixed;
    top: 0;
    left: -506px; 
    width: 100%;
    height: 100vh;
    max-width: 506px;
    color: $solidWhite;
    padding: 35px 50px;
    transition: 0.75s;
}

.mainMenu {
    a {
        font-family: $headingFont;
        font-size: 1, 6rem;
        line-height: 2.5rem;
        color: rgba($color: $solidWhite, $alpha: 1); //color and opacity
        transition: 0.3;
        &:hover, &:focus {
            color: rgba($color: $solidWhite, $alpha: 0.5);
        }
    }
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.menuClose {
    color: $solidWhite;
    font-size: 1.2rem;
    //text-align: right;
    // display: block; //made this a block level element to give it the space to align to the right of the menu, however using display: flex and justify-content: flex-end will work as well (This is what we eneded up doing) 
    //width: 100%;
}

