.categoryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    //background colours 
    .item1 {
        background-color: $quinary;
    }
    .item2 {
        background-color: $secondary;
    }
    .item3 {
        background-color: $tertiary;
    }
    .item4 {
        background-color: $quaternary;
    }

    //list item styles
    .item {
        border-radius: 10%;
        margin: 50px 25px 25px;
        padding: 40px;
        width: calc( 45% - 50px );
        text-align: center;
        transition: 0.3s; //need to add transition for hover to the element that you would like affected by the transition. 
        
        //list img styles
        img {
            border-radius: 10%; //targets img containers within the .item class
            margin-bottom: 15px;
        }
        &:hover {
            transform: scale(0.9); //transition to be added to element be affected
            
        }

    }

}