//Categories
.categories {
    margin-top: 20px;
}

.categoryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    //background colours 
    .item1 {
        background-color: $quinary;
    }
    .item2 {
        background-color: $secondary;
    }
    .item3 {
        background-color: $tertiary;
    }
    .item4 {
        background-color: $quaternary;
    }

    //list item styles
    .item {
        border-radius: 10%;
        margin: 50px 25px 25px;
        padding: 40px;
        width: calc( 45% - 50px );
        text-align: center;
        transition: 0.3s; //need to add transition for hover to the element that you would like affected by the transition. 
        
        //list img styles
        img {
            border-radius: 10%; //targets img containers within the .item class
            margin-bottom: 15px;
        }
        &:hover {
            transform: scale(0.9); //transition to be added to element be affected
            
        }

    }

}

//Let them play

.play {
    background-image: url(../assets/background-image.jpg);
    background-position: center;
    background-size: cover;
    //These are basic background img styles. Generally used with all background images
    min-height: 90vh;
    margin-bottom: 0;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: inherit; //added height so allow flex to justify-content, the original height was only as big as the contents from the elements inside it
        .playContainer {
            width: 60%;
            border: 24px solid $secondary;
            background-color: $solidWhite;
            padding: 60px;
            text-align: center;
            //still need to add styling for h3 inside playContainer, possible some other styling for typographical elements inside as well
        }
        
    }
}